body {
  background-color: #ffe6aa;
  color: #8b0000;
  font-family: Arial, sans-serif;
  padding: 2rem;
}

.container {
  max-width: 700px;
  margin: auto;
  background-color: #fff0aa;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: rgb(248, 186, 104);
  font-size: 2.5rem;
  margin: 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 30px 0;
}

button, #logInLink {
  margin-top: 0px;
  padding: 0.7rem 1.2rem;
  background-color: #ffaa8d;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
}

button:hover, #logInLink:hover {
  text-decoration: underline;
  background-color: #e6aa74;
}

.game-container {
  clear: both;
  display: flex;
  width: 100%;
  gap: 15px;
}

.game-box {
  position: relative;
  width: 50%;
  height: 300px;
  border: 2px solid black;
  border-radius: 12px;
  overflow: hidden;
}

.game-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.overlayText {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  background: rgba(0, 0, 0, 0.5); /* translucent black */
  text-align: center;
  padding: 10px 0 10px 0;
  font-weight: bold;
  text-decoration: none;
}
.overlayText:hover {
  text-decoration: underline;
}

label {
  display: block;
  margin-top: 1rem;
}

input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

#signUpForm, #logOutButton {
  display: none;
}
table {
  border-collapse: collapse;
  width: 75%;
  margin: 20px auto;
  font-family: sans-serif;
}
th, td {
  border: 1px solid #ccc;
  padding: 8px 12px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}
table thead tr :not(:first-child) {
  text-decoration: underline;
}
table thead tr :not(:first-child):hover {
  cursor: pointer;
}
